@import url("https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    min-height: 100vh;
    background-color: rgb(32 33 36);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chessboard {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
    border: 1px solid rgb(85, 85, 85);
    cursor: pointer;
}

.black {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.knight {
    font-size: 2rem;
    color: rgb(255, 255, 255); 
    mix-blend-mode: difference;
}

#info {
    height: 400px;
    aspect-ratio: 0.5/1;
    background-color: rgb(25, 0, 0);
    color: white;
}

.visited {
    position: relative;
}

.visited::before {
    content: "x";
    color: rgb(255, 0, 43);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}